<div class="container">
  <h1 class="container__header">{{header}}</h1>
  <mat-form-field class="container__input">
    <mat-label>Type a new thing</mat-label>
    <label>
      <input matInput type="text" [(ngModel)]="title">
    </label>
    <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Add" (click)="addTask()">
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>

  <div class="tasks">
    <h2 class="tasks__header">Things to do</h2>
    <ul class="tasks__list">
      <li class="tasks__item" *ngFor="let task of task$ | async">

        <mat-checkbox class="example-margin" [checked]="task.completed" (click)="updateTask(task.id, !task.completed)">
          {{task.title}}
        </mat-checkbox>

        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteTask(task.id)" class="tasks__button">
          <mat-icon class="tasks__cross">close</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>



