.container {
  margin-top: 5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
}

.tasks {
  margin-top: 50px;
  text-align: left;

  &__header {
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__button{
    transform: scale(0.75) translateY(-50%);
    position: relative;
    top: 50%;
  }

}
